-- ============================================================
--  Shop Project - Full Database Setup Script
--  Creates all tables with correct structure + inserts seed data
--  Based on ApiShopContext.cs entity configuration
--
--  HOW TO USE:
--  1. Open SSMS and connect to your SQL Server
--  2. Run this entire script as-is
--  It will create the database, all tables, and all data.
-- ============================================================

-- ============================================================
--  CREATE DATABASE
-- ============================================================
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = 'ApiShop')
BEGIN
    CREATE DATABASE ApiShop;
END
GO

USE ApiShop;
GO

-- ============================================================
--  DROP TABLES (in reverse FK order for clean re-runs)
-- ============================================================
IF OBJECT_ID('dbo.Order_Item', 'U') IS NOT NULL  DROP TABLE dbo.Order_Item;
IF OBJECT_ID('dbo.Orders',     'U') IS NOT NULL  DROP TABLE dbo.Orders;
IF OBJECT_ID('dbo.Products',   'U') IS NOT NULL  DROP TABLE dbo.Products;
IF OBJECT_ID('dbo.Categories', 'U') IS NOT NULL  DROP TABLE dbo.Categories;
IF OBJECT_ID('dbo.User',       'U') IS NOT NULL  DROP TABLE dbo.User;
IF OBJECT_ID('dbo.RATING',     'U') IS NOT NULL  DROP TABLE dbo.RATING;
GO

-- ============================================================
--  TABLE: Categories
--  Entity: Category.cs
--  Constraint names match ApiShopContext exactly
-- ============================================================
CREATE TABLE dbo.Categories
(
    Category_Id   INT           IDENTITY(1,1) NOT NULL,
    Category_Name VARCHAR(255)  NOT NULL,

    CONSTRAINT PK__Categori__6DB38D6E3FB4A635 PRIMARY KEY (Category_Id),
    CONSTRAINT UQ__Categori__B35EB41908872A78 UNIQUE      (Category_Name)
);
GO

-- ============================================================
--  TABLE: User
--  Entity: User.cs
--  Note: Is_Admin column added - required by UserDTO.IsAdmin
-- ============================================================
CREATE TABLE dbo.[User]
(
    User_Id    INT           IDENTITY(1,1) NOT NULL,
    Email      NVARCHAR(255) NOT NULL,
    First_Name NVARCHAR(MAX) NOT NULL,
    Last_Name  NVARCHAR(MAX) NOT NULL,
    Password   NVARCHAR(MAX) NOT NULL,
    Phone      NVARCHAR(20)  NULL,
    Address    NVARCHAR(500) NULL,
    Is_Admin   BIT           NOT NULL DEFAULT 0,

    CONSTRAINT PK__User PRIMARY KEY (User_Id),
    CONSTRAINT unique_email UNIQUE (Email)
);
GO

-- ============================================================
--  TABLE: Products
--  Entity: Product.cs
--  Quantity is NVARCHAR(500) as defined in ApiShopContext
-- ============================================================
CREATE TABLE dbo.Products
(
    Product_Id   INT            IDENTITY(1,1) NOT NULL,
    Product_Name NVARCHAR(255)  NOT NULL,
    Price        MONEY          NOT NULL,
    Category_Id  INT            NOT NULL,
    Description  NVARCHAR(MAX)  NOT NULL,
    ImageUrl     NVARCHAR(500)  NULL,
    Quantity     NVARCHAR(500)  NULL,
    Is_Active    BIT            NOT NULL DEFAULT 1,

    CONSTRAINT PK__Products__9834FBBA17114751 PRIMARY KEY (Product_Id),
    CONSTRAINT UQ__Products__723D8694EC18091F UNIQUE      (Product_Name),
    CONSTRAINT FK_Products_Categories
        FOREIGN KEY (Category_Id) REFERENCES dbo.Categories (Category_Id)
);
GO

-- ============================================================
--  TABLE: Orders
--  Entity: Order.cs
--  Status defaults to 'Pending' as per ApiShopContext
-- ============================================================
CREATE TABLE dbo.Orders
(
    Order_Id   INT        IDENTITY(1,1) NOT NULL,
    Order_Date DATE       NOT NULL,
    Order_Sum  MONEY      NOT NULL,
    User_Id    INT        NOT NULL,
    Status     NVARCHAR(50) NOT NULL DEFAULT 'Pending',

    CONSTRAINT PK__Orders__F1E4607B3330348C PRIMARY KEY (Order_Id),
    CONSTRAINT FK__Orders__User_Id__70DDC3D8
        FOREIGN KEY (User_Id) REFERENCES dbo.[User] (User_Id)
);
GO

-- ============================================================
--  TABLE: Order_Item
--  Entity: OrderItem.cs
-- ============================================================
CREATE TABLE dbo.Order_Item
(
    Order_Item_Id INT  IDENTITY(1,1) NOT NULL,
    Product_Id    INT  NOT NULL,
    Order_Id      INT  NOT NULL,
    Quantity      INT  NOT NULL DEFAULT 0,

    CONSTRAINT PK__Order_It__484568213E9B8F27 PRIMARY KEY (Order_Item_Id),
    CONSTRAINT FK__Order_Ite__Order__74AE54BC
        FOREIGN KEY (Order_Id)   REFERENCES dbo.Orders   (Order_Id),
    CONSTRAINT FK__Order_Ite__Produ__73BA3083
        FOREIGN KEY (Product_Id) REFERENCES dbo.Products (Product_Id)
);
GO

-- ============================================================
--  TABLE: RATING
--  Entity: Rating.cs
--  Used by RatingMiddleware to log every HTTP request
-- ============================================================
CREATE TABLE dbo.RATING
(
    RATING_ID   INT           IDENTITY(1,1) NOT NULL,
    HOST        NVARCHAR(50)  NULL,
    METHOD      NCHAR(10)     NULL,
    PATH        NVARCHAR(50)  NULL,
    REFERER     NVARCHAR(100) NULL,
    USER_AGENT  NVARCHAR(MAX) NULL,
    Record_Date DATETIME      NULL,

    CONSTRAINT PK__RATING PRIMARY KEY (RATING_ID)
);
GO

-- ============================================================
--  VERIFY TABLE CREATION
-- ============================================================
SELECT
    t.name        AS TableName,
    COUNT(c.name) AS ColumnCount
FROM sys.tables t
JOIN sys.columns c ON t.object_id = c.object_id
GROUP BY t.name
ORDER BY t.name;
GO

-- ============================================================
--  INSERT: CATEGORIES
-- ============================================================
SET IDENTITY_INSERT dbo.Categories OFF;

INSERT INTO dbo.Categories (Category_Name) VALUES
('Electronics'),
('Clothing'),
('Books'),
('Home & Kitchen'),
('Sports & Outdoors');
GO

-- ============================================================
--  INSERT: USERS
--
--  Password for ALL users = "Password123"
--
--  BCrypt hash below was generated with cost factor 11.
--  The API uses BCrypt.Net.BCrypt.Verify() so this hash
--  will work correctly when logging in through the API.
--
--  If login fails, register via POST /api/User instead —
--  the API will hash automatically.
-- ============================================================
GO

-- ============================================================
--  INSERT: PRODUCTS
--  Category_Id:
--    1 = Electronics
--    2 = Clothing
--    3 = Books
--    4 = Home & Kitchen
--    5 = Sports & Outdoors
-- ============================================================
GO

-- ============================================================
--  INSERT: ORDERS
--  User_Id:
--    1 = admin@shop.com  (Admin)
--    2 = john@gmail.com
--    3 = sarah@gmail.com
--    4 = david@gmail.com
--    5 = maya@gmail.com
-- ============================================================
     -- Order 10 Sarah: Nespresso + Garmin
GO

-- ============================================================
--  INSERT: ORDER ITEMS
--  Product_Id reference:
--    1  = iPhone 15 Pro          4999
--    2  = Samsung TV             3499
--    3  = Sony Headphones         999
--    4  = Dell Laptop            7299
--    5  = iPad Air               2799
--    6  = Levis Jeans             299
--    7  = Nike Air Force          499
--    8  = Adidas Hoodie           249
--    9  = Tommy Polo              349
--    10 = Clean Code               89
--    11 = Pragmatic Programmer     94
--    12 = Design Patterns          99
--    13 = Nespresso               799
--    14 = Dyson Vacuum           2299
--    15 = KitchenAid             1899
--    16 = Garmin Watch           1299
--    17 = Yoga Mat                149
--    18 = Mountain Bike          2499
-- ============================================================

-- Order 1: John — iPhone (x1) + Sony Headphones (x1) = 5998
INSERT INTO dbo.Order_Item (Order_Id, Product_Id, Quantity) VALUES (1, 1, 1);
INSERT INTO dbo.Order_Item (Order_Id, Product_Id, Quantity) VALUES (1, 3, 1);

-- Order 2: Sarah — iPhone (x1) = 4999
INSERT INTO dbo.Order_Item (Order_Id, Product_Id, Quantity) VALUES (2, 1, 1);

-- Order 3: David — Levis Jeans (x1) + Nike Air Force (x1) = 798

-- Order 4: John — Samsung TV (x1) = 3499

-- Order 5: Maya — Clean Code (x1) + Pragmatic Programmer (x1) + Design Patterns (x1) = 282... wait 89+94+99=282, hmm
-- Corrected: 89+94+99 = 282 but order sum above is 530 — adding Yoga Mat x1 (149) + Design Patterns (99) + books
-- Clean Code(89) + Pragmatic(94) + Design Patterns(99) + Yoga Mat(149) + Tommy Polo(99)... 
-- Simplest: Clean Code(89) + Pragmatic(94) + Design Patterns(99) + Yoga Mat(149) + Adidas Hoodie(249) = 680 nope
-- Let's just be honest: Maya — Design Patterns(99) + Yoga Mat(149) + Adidas Hoodie(249) + Tommy Polo(349) = 846 nope
-- Clean and simple: Yoga Mat (x2=298) + Clean Code(89) + Pragmatic(94) + Design Patterns(99) = 580... 
-- Final decision — Maya: Clean Code(89) + Pragmatic(94) + Design Patterns(99) + Yoga Mat(x2=298) = 580
-- Update order 5 sum accordingly:
UPDATE dbo.Orders SET Order_Sum = 580.00 WHERE Order_Id = 5;
  -- Clean Code      89
  -- Pragmatic       94
  -- Design Patterns 99
  -- Yoga Mat x2    298

-- Order 6: Sarah — Dell Laptop (x1) = 7299

-- Order 7: David — Sony Headphones (x1) = 999

-- Order 8: Maya — iPad Air (x1) = 2799

-- Order 9: John — Adidas Hoodie (x1=249) + Tommy Polo (x1=349) = 598

-- Order 10: Sarah — Nespresso (x1=799) + Garmin Watch (x1=1299) + Design Patterns (x1=99) = 2197
GO

-- ============================================================
--  VERIFY EVERYTHING
-- ============================================================
PRINT '=== ROW COUNTS ===';

SELECT 'Categories'  AS TableName, COUNT(*) AS Rows FROM dbo.Categories
UNION ALL
SELECT 'Users',                     COUNT(*)         FROM dbo.[User]
UNION ALL
SELECT 'Products',                  COUNT(*)         FROM dbo.Products
UNION ALL
SELECT 'Orders',                    COUNT(*)         FROM dbo.Orders
UNION ALL
SELECT 'Order_Items',               COUNT(*)         FROM dbo.Order_Item
UNION ALL
SELECT 'Ratings (empty is ok)',     COUNT(*)         FROM dbo.RATING;
GO

PRINT '=== PRODUCTS BY CATEGORY ===';
SELECT
    c.Category_Name,
    p.Product_Name,
    p.Price,
    p.Quantity,
    p.Is_Active
FROM dbo.Products p
JOIN dbo.Categories c ON p.Category_Id = c.Category_Id
ORDER BY c.Category_Name, p.Price;
GO

PRINT '=== ORDERS WITH CUSTOMER NAMES ===';
SELECT
    o.Order_Id,
    u.First_Name + ' ' + u.Last_Name  AS Customer,
    o.Order_Date,
    o.Order_Sum,
    o.Status
FROM dbo.Orders o
JOIN dbo.[User] u ON o.User_Id = u.User_Id
ORDER BY o.Order_Date;
GO

PRINT '=== ORDER LINE ITEMS ===';
SELECT
    o.Order_Id,
    u.First_Name                       AS Customer,
    p.Product_Name,
    oi.Quantity,
    p.Price                            AS UnitPrice,
    p.Price * oi.Quantity              AS LineTotal
FROM dbo.Order_Item oi
JOIN dbo.Orders   o  ON oi.Order_Id   = o.Order_Id
JOIN dbo.[User]   u  ON o.User_Id     = u.User_Id
JOIN dbo.Products p  ON oi.Product_Id = p.Product_Id
ORDER BY o.Order_Id, p.Product_Name;
GO

PRINT '=== USERS ===';
SELECT
    User_Id,
    Email,
    First_Name,
    Last_Name,
    Phone,
    CASE Is_Admin WHEN 1 THEN 'Admin' ELSE 'Customer' END AS Role
FROM dbo.[User];
GO

PRINT 'Setup complete. All tables created and data inserted successfully.';
GO